<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navigation-bar"/>
<div>
  <h1>
    <span th:text="${#authentication.getName()}"></span>'s cart
  </h1>
  <div th:if="${notEnoughProductsInStockException}" th:utext="${notEnoughProductsInStockException}"></div>
  <div th:each="product : ${products.entrySet()}">
    <div>
      <h1><a th:text="${product.getKey().getName()}" th:href="@{'/product/' + ${product.getKey().getId()}}">Title</a></h1>
      <h3 th:text="${product.getKey().getDescription()}">Description</h3>
    </div>
    <div>
      <div th:inline="text">Price: [[${product.getKey().getPrice()}]] $</div>
      <div th:inline="text">Quantity: [[${product.getValue()}]]</div>
      <a th:href="@{'/cart/remove/{id}'(id=${product.getKey().getId()})}">
        <button type="button" th:text="Remove">Remove</button>
      </a>
    </div>
    <br/>
  </div>
  <div>
    <h2 th:inline="text">Total: [[${totalAmount}]]</h2>
    <a th:href="@{'/cart/checkout'}">
      <button type="button" th:text="Checkout">Checkout</button>
    </a>
  </div>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>