<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navigation-bar"/>
<div>
  <form th:action="@{/login}" method="post">
    <fieldset>
      <div th:if="${param.error}">
        <div>Invalid username or password.</div>
      </div>
      <div th:if="${param.logout}">
        <div>You have been logged out successfully.</div>
      </div>
      <div>
        <input type="text" name="username" id="username" placeholder="Username" required autofocus/>
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="Password" required/>
      </div>
      <div>
        <input type="submit" value="Submit"/>
      </div>
    </fieldset>
  </form>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>