<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
  <fieldset>
    <div th:if="${param.error}">
      <div class="alert-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION}]]</div>
    </div>
    <div th:if="${param.logout}">
      <div class="alert-info">You've been logged out successfully.</div>
    </div>
    <div class="form">
      <input type="text" name="username" id="username" placeholder="Username" required="required" autofocus="autofocus"/>
    </div>
    <div class="form">
      <input type="password" name="password" id="password" placeholder="Password" required="required"/>
    </div>
    <div class="form">
      <input type="submit"/>
    </div>
  </fieldset>
</form>
</body>
</html>