<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navigation-bar"/>
<div class="container">
  <div class="row">
    <div class="col col-sm-8 col-md-6">
      <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <div class="form-label">
          <label class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
          <input class="form-control" type="text" th:field="*{username}" placeholder="Username"/>
        </div>
        <div class="form-label">
          <label class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"/>
          <input class="form-control" type="text" th:field="*{firstname}" placeholder="Firstname"/>
        </div>
        <div class="form-label">
          <label class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"/>
          <input class="form-control" type="text" th:field="*{lastname}" placeholder="Lastname"/>
        </div>
        <div class="form-label">
          <label class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
          <input class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
        </div>
        <div class="form-label">
          <label class="alert alert-danger" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"/>
          <input class="form-control" type="password" th:field="*{passwordConfirmation}" placeholder="Password confirmation"/>
        </div>
        <div class="form-label">
          <label class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
          <input class="form-control" type="text" th:field="*{email}" placeholder="Email"/>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <input class="btn btn-primary" type="submit" value="Submit"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>