<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navigation-bar"/>
<div>
  <div th:if="${message}" th:utext="${message}"></div>
  <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <div>
      <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
      <input type="text" th:field="*{username}" placeholder="Username"/>
    </div>
    <div>
      <label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></label>
      <input type="text" th:field="*{firstname}" placeholder="Firstname"/>
    </div>
    <div>
      <label th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></label>
      <input type="text" th:field="*{lastname}" placeholder="Lastname"/>
    </div>
    <div>
      <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
      <input type="password" th:field="*{password}" placeholder="Password"/>
    </div>
    <div>
      <label th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></label>
      <input type="password" th:field="*{passwordConfirmation}" placeholder="Password confirmation"/>
    </div>
    <div>
      <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
      <input type="text" th:field="*{email}" placeholder="Email"/>
    </div>
    <div>
      <input type="submit" value="Submit"/>
    </div>
  </form>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>